@model Incharge.ViewModels.ProductVM;
@inject SignInManager<Incharge.Models.User> SignInManager;
@inject UserManager<Incharge.Models.User> UserManager;
@using Microsoft.AspNetCore.Identity;
@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-4">
            <!-- Product Info card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">
                    <h4 class="mt-1">
                        @Model.Name
                    </h4>
                </div>
                <div class="card-body m-2 text-start">
                    
                    <div class="mb-3 mt-1 d-flex-row">
                        <strong>Total Price: </strong>$@Model.TotalPrice
                    </div>
                    <div class="mb-3 d-flex-row">
                        <strong>Product Type: </strong>@Model.ProductType.Name
                    </div>
                    <div class="row align-content-center mt-4">
                        <a asp-action="UpdateProduct" asp-route-id="@Model.Id" type="submit" class="btn btn-primary col">Edit</a>
                        <a asp-action="DeleteProduct" asp-route-id="@Model.Id" type="submit" class="btn btn-danger ms-2 col">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4 p-1">
                <div class="card-header">
                    <h4 class="mt-1">Registered Clients</h4>
                </div>
                <table class="ms-3 table-responsive">
                    <div class="p-1 table-hover table-borderless">   
                        <thead>
                            <tr class="">
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Status</th>
                                <!--Want to add date purchased add to sales that is linked to client-->
                                <th scope="col">Date Purchased</th>
                                <!--Add Special column for membership to check if membership is experied and date renewed-->
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var client in Model.Clients)
                            {
                                <tr class=""> 
                                    <td class="col">
                                        @client.FirstName @client.LastName
                                    </td>
                                    <td class="col">
                                    @client.Email
                                    </td>
                                    <td class="col">
                                    @client.Status
                                    </td>
                                    <td class="col">
                                    @client.Sales.FirstOrDefault(x => x.ProductId == @Model.Id).Date.ToShortDateString()
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </div>
                </table>
            </div>
        </div>
    </div>
</div>