@model Incharge.ViewModels.BusinessReportVM;
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using Incharge.ViewModels;
@using System.Text.Json;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Incharge.Models.User> SignInManager;
@inject UserManager<Incharge.Models.User> UserManager;
@{
    ViewData["Title"] = "Detail";
}

@{
    var expenseData = new ExpenseTypeVM()
            {
                Wages = Model.Wages,
                Rent = Model.Rent,
                Utilities = Model.Utilities,
                Insurance = Model.Insurance,
                Equipment = Model.Equipment,
                OtherExpenses = Model.OtherExpenses,
                Maintenance = Model.Maintenance
            };
    var expenseDataString = JsonSerializer.Serialize(expenseData);

}

<div class="container">
    <div class="row mt-3">
        <div class="col">

            <div class="card">
                <div class="card-header mt-1">
                    <h3 class="mb-3 mt-3">BUSINESS REPORT: @Model.Date.ToString("MMMM - yyyy") </h3>
                </div>
                <div class="card-body p-2 mb-1">
                    <p class="m-2"><b>Revenue:</b> $@Math.Round(Model.Revenue??0,2)</p>
                    <p class="m-2"><b>Cost:</b> $@Math.Round(Model.Cost??0,2)</p>
                    <p class="m-2"><b>Profit:</b> $@Math.Round(Model.Profit, 2)</p>
                    <p class="m-2"><b>Total Members:</b> @Model.MonthlyMembers</p>
                    <p class="m-2"><b>Memberships Sold:</b> @Model.NewMembershipSales</p>
                    <p class="m-2"><b>Membership Sales:</b> $@Model.MembershipFee </p>

                    <!--Delete Button-->
                    <div class="mt-4 mb-3 ms-2">
                        <form asp-action="DeleteReport" asp-route-Uuid="@Model.Uuid" method="post">
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </form>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-5">
            <!--Expense Distribution Graph-->

            <div class="card mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold">Expense Destribution</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-pie pt-4 pb-2">

                        <input type="hidden" id="expenseString" value="@expenseDataString" />

                        <!--Have input for pie chart data-->
                        <canvas id="myPieChart"></canvas>

                        <script type="module" src="~/js/CostPieChart.js"></script>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <h3>Sales</h3>
            <table class="table-responsive table-hover table">
                <thead>
                    <tr>
                        <th scope="col" class="col">Product</th>
                        <th scope="col" class="col">Payment Type</th>
                        <th scope="col" class="col">Date</th>
                        <th scope="col" class="col">Total Price</th>
                        <th scope="col" class="col">Client Name</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Sales)
                    {
                        <tr>
                            <td>@item.Product.Name</td>
                            <td>@item.PaymentType</td>
                            <td>@item.Date</td>
                            <td>$@item.TotalPrice</td>
                            <td>@item.Client.FirstName @item.Client.LastName</td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>

