@model List<Incharge.ViewModels.BusinessReportVM>;
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using Incharge.ViewModels;
@using System.Text.Json;

@{
    ViewData["Title"] = "Index";
}
@{

    var revenueData = new List<RevenueVM>();

    var expenseData = new ExpenseTypeVM()
            {
                 Wages = Model.FirstOrDefault(x => x.Date.Month == DateTime.Now.Month).Wages,
                Rent = Model.FirstOrDefault(x => x.Date.Month == DateTime.Now.Month).Rent,
                Utilities = Model.FirstOrDefault(x => x.Date.Month == DateTime.Now.Month).Utilities,
                Insurance = Model.FirstOrDefault(x => x.Date.Month == DateTime.Now.Month).Insurance,
                Equipment = Model.FirstOrDefault(x => x.Date.Month == DateTime.Now.Month).Equipment,
                OtherExpenses = Model.FirstOrDefault(x => x.Date.Month == DateTime.Now.Month).OtherExpenses,
                Maintenance = Model.FirstOrDefault(x => x.Date.Month == DateTime.Now.Month).Maintenance
            };

    var expenseDataString = JsonSerializer.Serialize(expenseData);

    var costData = new List<CostVM>();
    foreach(var cost in Model)
    {
        costData.Add(new CostVM
        {
            Month = cost.Date.ToString("MMMM"),
            Cost = cost.Cost,
            Date = cost.Date
        });
    }
    var costDataString = JsonSerializer.Serialize(costData.OrderBy(x=>x.Date).ToList());

    foreach(var revenue in Model)
    {
        revenueData.Add(new RevenueVM
        {
            Month = revenue.Date.ToString("MMMM"),
            Revenue = revenue.Revenue,
            Date = revenue.Date
        });
    }

    var revenueDataString = JsonSerializer.Serialize(revenueData.OrderBy(x => x.Date).ToList());

}



<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Custom fonts for this template-->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
</head>

<partial name="_formErrorMessage" model="@Model.First()" />

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4 text-primary">
                        <h1 class="mt-3 mb-0 text-primary">Dashboard</h1>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Revenue (Monthly) Card -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Revenue (@DateTime.Now.ToString("MMMM"))
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">$@String.Format("{0:N2}",Model.FirstOrDefault(x=>x.Date.Month == DateTime.Now.Month).Revenue)</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-money-bill-wave fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Cost (Monthly) Card -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                                Cost (@DateTime.Now.ToString("MMMM"))
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">$@String.Format("{0:N2}", Model.FirstOrDefault(x => x.Date.Month == DateTime.Now.Month).Cost)</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-receipt fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Total Monthly Members Card -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Active Members
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.FirstOrDefault(x => x.Date.Month == DateTime.Now.Month).MonthlyMembers</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-users fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                New Members
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.FirstOrDefault(x => x.Date.Month == DateTime.Now.Month).NewMembershipSales</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-person-circle-plus fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->

                    <div class="row">

                        <!-- Line graph -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card   mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area">
                                        <input type="hidden" id="RevenueGraph" value="@revenueDataString" />
                                        <input type="hidden" id="CostGraph" value="@costDataString" />

                                        <canvas id="LineGraph"></canvas>

                                        <script type="module" src="~/js/LineGraph.js"></script>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pie Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card   mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Expense Destribution  (@DateTime.Now.ToString("MMMM"))</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie pt-4 pb-2">
                                        
                                        <input type="hidden" id="expenseString" value="@expenseDataString" />

                                        <!--Have input for pie chart data-->
                                        <canvas id="myPieChart"></canvas>

                                        <script type="module" src="~/js/CostPieChart.js"></script>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->
                    <div class="row">
                        <!-- Business Report Index -->
                        <div class="card mb-4">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Business Report</h6>
                            </div>
                            <div class="card-body">
                                <table class="table table-borderless">
                                    <thead>
                                        <tr>
                                            <th scope="col">Date</th>
                                            <th scope="col">Revenue</th>
                                            <th scope="col">Cost</th>
                                            <th scope="col">Active Members</th>
                                            <th scope="col">New Memberships Sold</th>
                                            <th scope="col">Profits</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.OrderByDescending(x=>x.Date).Take(5).ToList())
                                        {
                                            <tr onclick="location.href='/Analytics/Detail?Uuid=@item.Uuid'">
                                                <td>@item.Date.ToString("MMMM") - @item.Date.Year</td>
                                                <td>@String.Format("{0:N2}", item.Revenue)</td>
                                                <td>@String.Format("{0:N2}", item.Cost)</td>
                                                <td>@item.MonthlyMembers</td>
                                                <td>@item.NewMembershipSales</td>
                                                <td>@String.Format("{0:N2}", item.Profit)</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            @if(Model.Count() > 5)                         
                            {
                                <div class="card-footer text-center">
                                    <div class="d-flex flex-row-reverse">
                                        <a class="btn btn-primary" href="/Analytics/ReportList">View All</a>
                                    </div>
                                </div>
                            }
                        </div>
                       
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

</body>

</html>
