@model Incharge.ViewModels.EmployeeVM;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Incharge.Models.User> SignInManager;
@inject UserManager<Incharge.Models.User> UserManager;
@{
    ViewData["Title"] = "Details";
}

@{
    var ClientList = Model.Clients;
    var GymClassList = Model.Gymclasses;
    
}

<div class="row m-4">
    <div class="col-2">
        <div class="mt-2 mx-1">
            <img width="100" src=@Model.ProfilePicture alt="Admin" class="rounded-circle p-1 bg-primary">
        </div>
    </div>
    <div class="col">
        <div class="row fw-bold">
            <h1>@Model.FirstName @Model.LastName</h1>
        </div>
        <div class="gap-2 mt-2 flex-row">
            
            @if (User.IsInRole("Admin"))
            {
                <a asp-action="UpdateEmloyee" asp-route-Uuid="@Model.Uuid" class="btn btn-primary w-25">Edit</a>
                <form asp-action="DeleteEmployee" asp-route-Uuid="@Model.Uuid" method="post" class="d-inline">
                    <input type="submit" value="Delete" class="btn btn-danger w-25" />
                </form>
            }
        </div>
    </div>
    
    <div class="col">
        <div class="mt-2">
            <p>
                <strong>Email: </strong>@Model.Email
            </p>
            <p>
                <strong>Phone: </strong>@Model.Phone 
            </p>
            <p>
                <strong>Role: </strong>@Model.Role.Type
            </p>

            @if (User.IsInRole("Admin"))
            {
                <p>
                    <strong>Salary: </strong>$@string.Format("{0:#,0.####}", Model.TotalSalary)
                </p>
            }
            <p>
                <strong>Address: </strong>@Model.Address
            </p>
        </div>
    </div>

   
</div>
<div class="row mt-4 gap-2">
    <div class="col-4">
        <h5 class="fw-bold align-content-center ms-2">Clients</h5>
        <table class="table-striped table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ClientList)
                {
                    <tr>
                        <td><a asp-controller="Client" asp-action="Details" asp-route-Uuid="@item.Uuid">@item.FirstName @item.LastName</a></td>
                        <td>@item.Status</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col mx-2">
        <h5 class="fw-bold align-content-center">Gym Class</h5>
        <table class="table-striped table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Location</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in GymClassList)
                {
                    <tr>
                        <td href="/GymClass/Details/@item.Id">@item.Name</td>
                        <td>@item.Date</td>
                        <td>@item.Location.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>