@model Incharge.Service.PagingService.PaginatedList<Incharge.Models.Employee>
@using Microsoft.AspNetCore.Identity;
@using Incharge.Service.PagingService;
@using Incharge.ViewModels;
@inject SignInManager<Incharge.Models.User> SignInManager;
@inject UserManager<Incharge.Models.User> UserManager;

@{
    ViewData["Title"] = "Index";
}
<nav class="navbar-brand mb-5">
    <div class="row align-content-center">
        <h1 class="text-black m-3 align-text-top font-bold">Employee</h1>
    </div>
    <div class="row align-content-center pt-3 pb-3">
        <div class="col pr-2">
        @if (User.IsInRole("Admin"))
        {

                <a asp-action="AddEmployee" class="btn btn-primary">Add Employee</a>
        }
        </div>
        
       <!--Search Bar and select page number-->
       <partial name="_SearchAndPageSize"/>

        <div class="col-2 align-content-end">
            <a asp-action="Index" class="btn btn-primary">Back to Full List</a>
        </div>

    </div>

</nav>

<table class="table-responsive table-hover table">
    <thead>
        <tr>
            <th scope="col"></th> @*Planning on having image here*@
            <th scope="col">
                <a asp-action="Index" asp-route-sortOrder="@ViewData["FirstNameSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">First</a>
            </th>
            <th scope="col">
                <a asp-action="Index" asp-route-sortOrder="@ViewData["LastNameSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Last</a>
            </th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            @if (User.IsInRole("Admin"))
            {
                <th scope="col">Edit</th> @*Name this column somewhere for employee to track client, class and so on*@
                @*this should be store a bunch of buttons
            *@
                <th scope="col">Delete</th>
            }
        </tr>
    </thead>
    <tbody>
    @foreach(var item in Model)
    {
            <tr onclick="location.href='/Employee/Details?Uuid=@item.Uuid'">
                <th @*image column for employee*@></th>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Email</td>
                <td>@item.Role.Type</td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="UpdateEmloyee" asp-route-Uuid="@item.Uuid" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
                    </td>
                    <td>
                        <form asp-action="DeleteEmployee" asp-route-Uuid="@item.Uuid" method="post">
                            <input type="submit" value="Delete" class="btn btn-danger"/>
                        </form>
                    </td>
                }
            </tr>
    }

    </tbody>
</table>

@*Pagination partial view*@

<partial name="_Pagination" model="@Model" />