@model Incharge.Service.PagingService.PaginatedList<Incharge.Models.Expense>
@using Microsoft.AspNetCore.Identity;
@using Incharge.Service.PagingService;
@using Incharge.ViewModels;
@inject SignInManager<Incharge.Models.User> SignInManager;
@inject UserManager<Incharge.Models.User> UserManager;

@{
    ViewData["Title"] = "Index";
  
}
<nav class="navbar-brand mb-5">
    <div class="row align-content-center">
        <h1 class="text-black m-3 align-text-top font-bold">Expenses</h1>
    </div>
    <div class="row align-content-center pt-3 pb-1">
        <div class="col ms-3">
        @if (User.IsInRole("Admin"))
        {
            <a asp-action="AddExpense" class="btn btn-primary">Add Expense</a>

@*             Add expense dropdown menu when finished business Report stuff
            <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Add Expense
                </button>
                    <ul class="dropdown-menu gap-1 p-2 rounded-3 mx-0 shadow">
                    <li><a class="dropdown-item rounded-2" asp-action="AddExpense" asp-route-Type="Wage">Wage</a></li>
                    <li><a class="dropdown-item rounded-2" asp-action="AddExpense" asp-route-Type="Rent">Rent</a></li>
                    <li><a class="dropdown-item rounded-2" asp-action="AddExpense" asp-route-Type="Equipment">Equipment</a></li>
                    <li><hr class="dropdown-divider"></hr></li>
                    <li><a class="dropdown-item rounded-2" asp-action="AddExpense" asp-route-Type="Other">Other</a></li>
                </ul>
            </div> *@
        }
        </div>
        @*Add filter column*@
        <!--Search Bar and select page number-->
        <partial name="_SearchAndPageSize" />

    </div>

</nav>
<div class="container">
    <table class="table-responsive table-hover table">
        <thead>
            <tr>
                <th scope="col" class="col">
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Name</a>
                </th>
                <th scope="col" class="col">
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["TypeSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Type</a>
                </th>
                <th scope="col" class="col">
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Date</a>
                </th>
                <th scope="col" class="col">
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["CostSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Cost</a>
                </th>
                <th scope="col" class="col">Description</th>
                <th scope="col" class="col-1"></th> 
                <th scope="col" class="col-1"></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Type</td>
                    <td>@item.Date</td>
                    <td>$@item.Cost</td>
                    <td>@item.Description</td>
                    <td>
                        <div class="col-1">
                            <a asp-action="EditExpense" asp-route-Uuid="@item.Uuid" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
                        </div>
                    </td>
                    <td>
                        <div class="col-1">
                            <form asp-action="DeleteExpense" asp-route-Uuid="@item.Uuid" method="post">
                                <button type="submit" class="btn btn-danger"><i class="bi bi-trash3"></i></button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>
    @*Pagination partial view*@

    <partial name="_Pagination" model="@Model" />
</div>