@model Incharge.ViewModels.ExpenseVM;

@{
    ViewData["Title"] = "Recurring Expense";
}

<div class="container">
    <div class="row">
        <h1 class="font-monospace fw-bold mt-3">Add Recurring Expense: @Model.Type</h1>
    </div>
    <div class="form-group">
        <form asp-action="RecurringExpense" asp-route-Type="@Model.Type" method="post">
            <partial name="_formErrorMessage" model="Model" />

            <div class="mb-3 mt-3">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="control-label">Select @Model.Type</label>
                <select asp-for="RecurringListUuids" class="form-select" data-placeholder="Select @Model.Type" multiple data-multi-select>
                    @foreach (var expense in Model.RecurringList)
                    {
                        <option value="@expense.Uuid">@expense.Name : $@expense.Cost</option>
                    }
                </select>
            </div>

            <a asp-action="Index" type="submit" class="btn btn-primary">Cancel</a>
        
                <input type="submit" value="Save" class="btn btn-primary" />

       
            @*Have confirmation option later*@
        </form>
    </div>
</div>