@model Incharge.ViewModels.HomeVM;

@{
    ViewData["Title"] = "Index";
}

@{
    double active = Model.Clients.Where(x => x.MembershipStatus == "Active").Count();
    double overdue = Model.Clients.Where(x => x.MembershipStatus == "Overdue").Count();
    double NoMembership = Model.Clients.Where(x => x.MembershipStatus == "No Membership").Count();
    double total = Model.Clients.Count();

    double overduePercentage = Math.Round(((overdue / total)*100), 1);
    double activePercentage = Math.Round(((active / total)*100), 1);
    double noMembershipPercentage = Math.Round(((NoMembership / total)*100), 1);
}


<div class="container">

    <div class="row mb-2">
        <div class="col-12">
            <h1>Home Dashboard</h1>
        </div>
    </div>


    <div class="row">
        <!-- Information card -->
        <div class="col-lg-5 mb-2 mt-1 p-1 col-md-12">
            <div class="card">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h5 class="m-0 font-weight-bold text-primary">Membership Status</h5>
                </div>
                <!--Pie Data-->
                @* <input type="hidden" id="active" value="@active" />
                <input type="hidden" id="overdue" value="@overdue" />
                <input type="hidden" id="noMembership" value="@NoMembership" />
                <input type="hidden" id="total" value="@total" />

                <canvas id="myData" class=" m-2"></canvas>

                <script type="module" src="~/js/PieChart.js"></script> *@

                <div class="card-body">
                    <!--Overdue-->
                    <h4 class="small font-weight-bold">
                        Overdue <span class="float-right">@overduePercentage% - @overdue</span>
                    </h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: @overduePercentage%"
                                aria-valuenow="@(overduePercentage)" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!--Active-->
                    <h4 class="small font-weight-bold">
                        Active <span class="float-right">@activePercentage% - @active</span>
                    </h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-success" role="progressbar" style="width: @activePercentage%"
                                aria-valuenow="@(activePercentage)" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!--No Membership-->
                    <h4 class="small font-weight-bold">
                        No Membership <span class="float-right">@noMembershipPercentage% - @NoMembership</span>
                    </h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: @noMembershipPercentage%"
                                aria-valuenow="@(noMembershipPercentage)" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col mb-2 mt-1">
            <div class="card">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h5 class="m-0 font-weight-bold text-primary">Upcoming Gym Classes</h5>
                </div>
                <div class="card-body">
                    <table class="table table-hover table-borderless">
                        <thead>
                        <th>Name</th>
                        <th>Time</th>
                        <th>Location</th>
                        <th>Status</th>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.GymClasses)
                            {
                                <tr onclick="location.href='/GymClass/Details?Id=@item.Id'">
                                    <td>@item.Name</td>
                                    <td>@item.Date.TimeOfDay.ToString(@"hh\:mm") - @item.EndTime.TimeOfDay.ToString(@"hh\:mm")</td>
                                    <td>@item.Location.Name</td>
                                    @if (item.Status == "Cancelled")
                                    {
                                        <td class="text-danger"><span class="badge bg-danger">@item.Status</span></td>
                                    }
                                    @if (item.Status == "Completed")
                                    {
                                        <td class="text-success"><span class="badge bg-success">@item.Status</span></td>
                                    }
                                    @if (item.Status == "Active")
                                    {
                                        <td class="text-primary"><span class="badge bg-primary">@item.Status</span></td>
                                    }
                                   
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>

    </div>
    <div class="row">
        <!-- Clients who have not paid -->
        <div class="col mb-2 mt-1">
            <div class="card p-2">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h5 class="m-0 font-weight-bold text-primary">Overdue Clients</h4>
                </div>
                <div class="card-body">
                
                    @if (Model.Clients.Where(x => x.MembershipStatus == "Overdue").Count() > 0)
                    {
                        <table class="table table-hover table-borderless">
                            <thead>
                            <th>Name</th>
                            <th>Membership</th>
                            <th>Status</th>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Clients.Where(x => x.MembershipStatus == "Overdue"))
                                {
                                    <tr onclick="location.href='/Client/Details?Uuid=@item.Uuid'">
                                        <td>@item.FirstName @item.LastName</td>
                                        <td>@item.MembershipName</td>
                                        <td>@item.MembershipStatus</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p class="m-2">No clients with overdue membership</p>
                    }
                </div>
            </div>
        </div>

        <div class="col mb-2 p-1">
            <div class="card p-2">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Trainers Available</h6>
                </div>
                <div class="card-body">
                    <table class="table table-hover table-borderless">
                        <thead>
                        <th>Name</th>
                        <th>Phone</th>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Employees.Where(x => x.Role.Type == "Trainer" && !x.Gymclasses.Any(g => g.Date <= DateTime.Now.Date && g.EndTime >= DateTime.Now.Date)))
                            {
                                <tr onclick="location.href='/Employee/Details?Uuid=@item.Uuid'">
                                    <td>@item.FirstName @item.LastName</td>
                                    <td>@item.Phone</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
