@model Incharge.ViewModels.HomeVM;

@{
    ViewData["Title"] = "Index";
}

@{
    var active = Model.Clients.Where(x => x.MembershipStatus == "Active").Count();
    var overdue = Model.Clients.Where(x => x.MembershipStatus == "Overdue").Count();
    var NoMembership = Model.Clients.Where(x => x.MembershipStatus == "No Membership").Count();
    var total = Model.Clients.Count();
}


<div class="container">

    <div class="row mb-2">
        <div class="col-12">
            <h1>Home Dashboard</h1>
        </div>
    </div>
    <div class="row">
        <!-- Information card -->
        <div class="col-auto mb-2 mt-1 p-1">
            <h3>Membership Status</h3>
            <div class="card">
                <!--Pie Data-->
                <input type="hidden" id="active" value="@active" />
                <input type="hidden" id="overdue" value="@overdue" />
                <input type="hidden" id="noMembership" value="@NoMembership" />
                <input type="hidden" id="total" value="@total" />

                <canvas id="myData" class=" m-2"></canvas>

                <script type="module" src="~/js/PieChart.js"></script>
                  

            </div>
        </div>

        <div class="col mb-2 mt-1">
            <h3 class="m-1">Upcoming Classes</h3>
            <div class="card">
                
                <table class="table table-hover table-borderless">
                    <thead>
                        <th>Name</th>
                        <th>Time</th>
                        <th>Location</th>
                        <th>Status</th>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.GymClasses)
                        {
                            <tr onclick="location.href='/GymClass/Details?Id=@item.Id'">
                                <td>@item.Name</td>
                                <td>@item.Date.TimeOfDay.ToString(@"hh\:mm") - @item.EndTime.TimeOfDay.ToString(@"hh\:mm")</td>
                                @if (item.Status == "Cancelled")
                                {
                                    <td class="text-danger"><span class="badge bg-danger">@item.Status</span></td>
                                }
                                @if (item.Status == "Completed")
                                {
                                    <td class="text-success"><span class="badge bg-success">@item.Status</span></td>
                                }
                                @if (item.Status == "Active")
                                {
                                    <td class="text-primary"><span class="badge bg-primary">@item.Status</span></td>
                                }
                                <td>@item.Location</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="row">

        <!-- Clients who have not paid -->
        <div class="col mb-2 mt-1">
            <h3 class="m-1">Clients List of shame</h3>
            <div class="card p-2">
                @if(Model.Clients.Where(x => x.MembershipStatus == "Overdue").Count() > 0)
                {
                    <table class="table table-hover table-borderless">
                        <thead>
                        <th>Name</th>
                        <th>Membership</th>
                        <th>Status</th>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Clients.Where(x => x.MembershipStatus == "Overdue"))
                            {
                                <tr onclick="location.href='/Client/Details?Uuid=@item.Uuid'">
                                    <td>@item.FirstName @item.LastName</td>
                                    <td>@item.MembershipName</td>
                                    <td>@item.MembershipStatus</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p class="m-2">No clients with overdue membership</p>
                }
            </div>

        </div>

        <div class="col mb-2 p-1">
            <h3 class="m-1">Trainer Available</h3>
                <div class="card p-2">
                    <table class="table table-hover table-borderless">
                        <thead>
                            <th>Name</th>
                            <th>Phone</th>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Employees.Where(x=>x.Role.Type=="Trainer" && !x.Gymclasses.Any(g => g.Date <= DateTime.Now.Date && g.EndTime >= DateTime.Now.Date)))
                            {
                                <tr onclick="location.href='/Employee/Details?Uuid=@item.Uuid'">
                                    <td>@item.FirstName @item.LastName</td>
                                    <td>@item.Phone</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
        </div>
    </div>

</div>
