@model Incharge.ViewModels.GymClassVM;




<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<partial name="_formErrorMessage" model="@Model" />

<div class="mb-3 mt-3">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="mb-3 mt-3">
    <label asp-for="Date" class="control-label"></label>
    <input asp-for="Date" class="form-control" />
    <span asp-validation-for="Date" class="text-danger"></span>
</div>
<div class="mb-3">
    @*Will override price set in product type. Ok to be null*@
    <label asp-for="EndTime" class="control-label"></label>
    <input asp-for="EndTime" class="form-control" />
    <span asp-validation-for="EndTime" class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for="EmployeeOptions" class="control-label"></label>
    <select asp-for="EmployeeId" class="form-select">
        @foreach (var type in Model.EmployeeOptions)
        {
            <option value="@type.Id">@type.FirstName @type.LastName</option>
        }
    </select>
</div>
<div class="mb-3">
    <label asp-for="LocationOptions" class="control-label"></label>
    <select asp-for="LocationId" class="form-select">
        @foreach (var type in Model.LocationOptions)
        {
            <option value="@type.Id">@type.Name</option>
        }
    </select>
</div>

<div class="mb-3">
    <label asp-for="EquipmentOptions" class="control-label"></label>
    <select asp-for="EquipmentId" class="form-select" multiple data-multi-select>
        @foreach (var type in Model.EquipmentOptions)
        {
            <option value="@type.Id">@type.Name</option>
        }
    </select>
</div>

@if(Model.Type == "Private")
{
    <div class="mb-3">
        <label asp-for="ClientOptions" class="control-label"></label>
        <select asp-for="ClientsId" class="form-select" multiple data-multi-select>
            @foreach (var type in Model.ClientOptions.Where(x => x.TotalTrainingSessions > 0))
            {
                <option value="@type.Id">@type.FirstName @type.LastName</option>
            }
        </select>
    </div>
}

<div class="mb-3">
    @*Will override price set in product type. Ok to be null*@
    <label asp-for="Description" class="control-label"></label>
    <textarea asp-for="Description" rows="3" class="form-control"></textarea>
    <span asp-validation-for="Description" class="text-danger"></span>
</div>

<a asp-action="Index" class="btn btn-danger">Cancel</a>
<input type="submit" value="Save" class="btn btn-primary"/>


