@model Incharge.ViewModels.LocationVM


@{
    ViewData["Title"] = "Details";
}


<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body mt-1">
                    <h3 class="mb-3">LOCATION DETAILS</h3>
                    <!--Description-->
                    <p class="mb-2 mt-2">@Model.Description</p>
                    <div class="row align-content-center">
                        <div class="col-2">
                            <a asp-action="EditLocation" asp-route-id="@Model.Id" class="btn btn-primary"> Edit </a>
                        </div>
                        <div class="col-2">
                            <form asp-action="DeleteLocation" asp-route-id="@Model.Id" method="post">
                                <input type="submit" value="Delete" class="btn btn-danger" />
                            </form>
                        </div>
                    </div>
                </div><!-- / project-info-box -->
            </div>
            <div class="card">
                <div class="card-body p-2 mb-1">
                    <p class="m-2"><b>Name:</b> @Model.Name</p>
                    <p class="m-2"><b>Capacity:</b> @Model.Capacity</p>
                    <p class="m-2"><b>Status:</b> @Model.Status</p>
                </div><!-- / project-info-box -->
            </div>

        </div><!-- / column -->

        <div class="col-md-7"> 
            <img src="@Model.Image" alt="project-image" class="rounded">
        </div><!-- / column (image) -->
    </div>
    <div class="row">
        <div class="card card-body">
            <div class="mb-2">
                <h5><strong>Gym Class Bookings</strong></h5>
            </div>
            <table class="table-hover table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Date</th>
                        <th scope="col">Instructor</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model.Gymclasses)
                    {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Date</td>
                        <td>@item.Employee.FirstName @item.Employee.LastName</td>
                        <td>@item.Description</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
