
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

@if(Model.TotalPages > 1)
{
    <div class="btn-group border-bottom">
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           asp-route-pageSize="@Model.PageSize"
           class="btn btn-default @prevDisabled">
            <i class="bi bi-arrow-left"></i>
        </a>
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           asp-route-pageSize="@Model.PageSize"
           class="btn btn-default @nextDisabled">
            <i class="bi bi-arrow-right"></i>
        </a>
    </div>
}
