@model Incharge.Service.PagingService.PaginatedList<Incharge.Models.Client>
@using Microsoft.AspNetCore.Identity;
@using Incharge.Service.PagingService;
@using Incharge.ViewModels;
@inject SignInManager<Incharge.Models.User> SignInManager;
@inject UserManager<Incharge.Models.User> UserManager;

@{
    var clientVM = new ClientVM();
}

@{
    ViewData["Title"] = "Index";
}
<nav class="navbar-brand mb-5">
    <div class="row align-content-center">
        <h1 class="text-black m-3 align-text-top font-bold">Client</h1>
    </div>
    <div class="row align-content-center pt-3 pb-3">
        <div class="col pr-2">
            <a asp-action="AddClient" class="btn btn-primary">Add New Client</a>
        </div>


        <!--Search Bar and select page number-->
        <partial name="_SearchAndPageSize" />


    </div>

</nav>
<div class="container">
    <table class="table-responsive table-hover table">
        <thead>
            <tr>
                <th scope="col" class="col-1"></th> @*will juat be colour indicator for if the client is signed in/out or payment is overdued.*@
                <th scope="col" class="col">
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["FirstNameSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">First</a>
                </th>
                <th scope="col" class="col">
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["LastNameSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Last</a>
                </th>
                <th scope="col" class="col">Phone</th>
                <th scope="col" class="col">Status</th>
                <th scope="col" class="col">Update Status</th>
                <th scope="col" class="col">Membership Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <!--When checked box is clicked this will still lead to details page-->
                <tr onclick="location.href='/Client/Details?Uuid=@item.Uuid'">
                    <td class="no-click">
                        <!--Checkbox to help sign in-->
                        <input type="checkbox"/> 
                    </td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Phone</td>
                    <td>@item.Status</td>
                    <td>
                        <div class="col-2 me-1">
                            <form asp-action="UpdateStatus" method="post" asp-route-Uuid=@item.Uuid>
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                @if (item.Status == "Signed Out")
                                {

                                    <input type="submit" id="clientVM.Status" name="Status" value="Sign In" class="btn btn-success" />

                                }
                                @if (item.Status == "Signed In" || item.Status == null)
                                {

                                    <input type="submit" id="clientVM.Status" name="Status" value="Sign Out" class="btn btn-warning" />
                                    @*Asp-for= "Status" is converted into html code: id = "status" name = "status" *@
                                }
                            </form>
                        </div>
                    </td>
                    <td>@item.MembershipStatus</td>
                </tr>
            }
        </tbody>
        
    </table>

    @*Pagination partial view*@

    <partial name="_Pagination" model="@Model" />

</div>



