@model Incharge.ViewModels.SaleVM;

<partial name="_formErrorMessage" model="Model" />

<div class="mb-3 mt-3">
    <label class="control-label">Product Selected: </label>
    <select asp-for="ProductId" class="form-select">
        <option selected value="@Model.ProductId">@Model.ProductName</option>
        @foreach (var entity in Model.ProductOptions)
        {
            if (entity.Id != Model.ProductId)
            {
                <option value="@entity.Id">@entity.Name</option>
            }

        }
    </select>
</div>
<div class="mb-3">
    <label asp-for="Quantity" class="control-label"></label>
    <input asp-for="Quantity" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="Date" class="control-label"></label>
    <input asp-for="Date" class="form-control" placeholder="yyyy/mm/dd" />
</div>
<div class="mb-3">
    <label asp-for="Client" class="control-label"></label>
    <select asp-for="ClientId" class="form-select">
        @foreach (var entity in Model.ClientOptions)
        {
            <option value="@entity.Id">@entity.FirstName @entity.LastName</option>
        }
    </select>
</div>
<div class="mb-3">
    <label asp-for="Employee" class="control-label"></label>
    <select asp-for="EmployeeId" class="form-select">
        @foreach (var entity in Model.EmployeeOptions)
        {
            <option value="@entity.Id">@entity.FirstName @entity.LastName</option>
        }
    </select>
</div>

<div class="mb-3">
    <label asp-for="Discount" class="control-label"></label>
    <select asp-for="DiscountId" class="form-select" data-placeholder="Select Discount" multiple data-multi-select>
        @foreach (var entity in Model.DiscountOptions)
        {
            <option value="@entity.Id">@entity.Name: @(entity.DiscountValue*100)%</option>
        }
    </select>
</div>

<div class="mb-3">
    <label asp-for="PaymentType" class="control-label"></label>
    <select asp-for="PaymentType" class="form-select">
        @foreach (var entity in Model.PaymentOptions)
        {
            <option value="@entity">@entity</option>
        }
    </select>
</div>

<a asp-controller="Product" asp-action="Index" type="button" class="btn btn-primary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>